*{
  box-sizing: border-box;
}
body{
  
  background-color: white;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1{
  color: hsl(0, 6%, 24%);
  font-size: clamp(2.3rem, 6vw ,5.3rem);
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 850px){
  body{
    overflow-y: auto;
  }
  
}